.DS_Store
/build
.obj/
.ninja_deps
.ninja_log
/.cache
/qjs/repl.c
/qjs/qjscalc.c

/tests/*.so
/tests/Debug
/tests/Release
/tests/RelWithDebInfo
/tests/run-test262/test262
/tests/run-test262/test262_report.txt

/examples/*.so
/examples/Debug
/examples/Release
/examples/RelWithDebInfo

/unicode/data

/vcpkg_installed
vcpkg-manifest-install.log
/tmp_test*
/tmp_test_*.log